<?xml version="1.0"?>
<config>
    <modules>
        <Popov_SalesDoubler>
            <version>0.1.0</version>
        </Popov_SalesDoubler>
    </modules>
    <global>
        <helpers>
            <popov_salesDoubler>
                <class>Popov_SalesDoubler_Helper</class>
            </popov_salesDoubler>
        </helpers>
        <blocks>
            <popov_salesDoubler>
                <class>Popov_SalesDoubler_Block</class>
            </popov_salesDoubler>
        </blocks>
        <models>
            <popov_salesDoubler>
                <class>Popov_SalesDoubler_Model</class>
            </popov_salesDoubler>
        </models>
    </global>

    <frontend>
        <layout>
            <updates>
                <popov_salesDoubler>
                    <file>popov/retag.xml</file>
                </popov_salesDoubler>
            </updates>
        </layout>
    </frontend>

    <retargeting>
        <modules>
            <Popov_SalesDoubler>
                <utm_uid_name>aff_id</utm_uid_name>
            </Popov_SalesDoubler>
        </modules>
    </retargeting>
</config>
